@use '../scss/colors';
body{
	position: relative;
	font-family: 'WorkSans';
	background-color:  colors.$body-color;
	margin: 0;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
}
*{

	box-sizing: border-box;
}
h1{
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.46px;
	color: colors.$title-color;
}
h2, select, input, .gender{
	font-size: 14px;
	line-height: 16px;
	color:colors.$title-color;
}
h3{
	font-size: 14px;
	line-height: 16px;
	color:colors.$title-color;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.label{
	font-size: 12px;
	line-height: 14px;
	color: colors.$label-color;
	padding-bottom: 4.5px;
}
select, input[type="text"],input[type="password"]{
	border: none;
	border-bottom: 2px solid colors.$body-color;
	outline: none;
	background: none;
}
select{
	max-width: 234px;
}
input[type="text"], input[type="password"]{
	max-width: 234px;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.error input {
	color: colors.$error-color;
  border-bottom: 2px solid colors.$error-color;
}
.error-label{
	// position: absolute;
	color: colors.$error-color;
	font-size: 12px;
  // background: colors.$main-color;

  // bottom: -40%;
  z-index: 1;
	transition: 0.6s ease;
}
