@font-face {
  font-family: 'Work Sans';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Work_Sans/static/WorkSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Work Sans';
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Work_Sans/static/WorkSans-Medium.ttf) format('ttf');
}
@font-face {
  font-family: 'Work Sans';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Work_Sans/static/WorkSans-SemiBold.ttf) format('ttf');
}
@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/PT_Sans/PTSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/PT_Sans/PTSans-Bold.ttf) format('ttf');
}