@use '../scss/colors';
.footer{
	position: absolute;
	bottom: 33px;
	display: flex;
	justify-content: start;
	padding: 10px 0;
	gap: 10px;
	z-index: 2;
	&__title{
		display: contents;
		font-family: 'WorkSans';
		font-weight:200;
		font-size: 13px;
		line-height: 15px;		
		color: colors.$subtitle-color;
	}
	&__login-link{
		color: colors.$secondary-color;
	}
}