@use '../scss/colors';
.footer{
	display: flex;

	justify-content: start;
	&__title{
		display: contents;
		font-family: 'WorkSans';
		font-weight:200;
		font-size: 13px;
		line-height: 15px;		
		color: colors.$subtitle-color;
	}
	&__login-link{
		color: colors.$secondary-color;
	}
}