@use '../scss/colors';
.header{
	position: relative;
	display: flex;
	align-items: flex-end;
  justify-content: unset;
	background-color: colors.$secondary-color;
	max-width: 138px;
	width: 100%;

	div{
		position: absolute;
    bottom: 51px;
		left: 0;
		white-space: nowrap;
		padding: 6.5px 22.5px;
		font-family: 'PT Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 49px;
		line-height: 63px;
		letter-spacing: 0.5px;
		color: colors.$main-color;
		transform: rotate(-90deg);
	}
}
@media (max-width:524px) {
	.header{
		max-width: 100px;
		width: 100%;
		div{
			left: -62%;
		}
	}

}
@media (max-width: 390px) {
	.header{
		height: 80px;
		max-width: 100%;
		div{
			transform: rotate(0);
			left: 0;
			bottom: 0;
		}
	}

}