@use '../scss/colors';
.main{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	
	
}
.form{
		display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container{
	display: flex;	
	overflow: hidden;
	max-width: 665px;
	width: 100%;
	background-color: colors.$main-color;
	margin: 15px 15px;
	padding: 0;
	&__main-content{
		position: relative;
		display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;		
		position: relative;
		padding: 39px 22px 33px 20px;
		width: 100%;
		min-height: 480px;
		height: 100%;
	}

}

.form-container{
	position: relative;
	z-index: 2;
	height: 100%;
	
}
.main-title{
	margin: 0;
}
.main-subtitle{
	margin-top: 0;
	margin-bottom: 20px;
}
svg{
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	max-width: 307px;
	width: 100%;
	max-height: 355px;
}
#form-container{
	width: 100%;
}
.form__group{
	display: flex;
	justify-content: space-between;
	
	gap: 13.5px;
	max-width: 485px;
	width: 100%;
	flex-wrap: wrap;
	&_container{
		position: relative;
		display: flex;
		flex-direction: column;	
		max-width: 234px;	
		width: 100%;
		margin-bottom: 16px;
		transition: .6s ease;
		z-index: 2;
	}
	&_container &_gender{		
		display: flex;
		flex-direction: row ;
		gap: 20px;
		div{
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 6px;
		}
	}
	
	&_container &_date-group{
		display: flex;
		justify-content: space-between;		
		flex-direction: row;
		gap: 10px;
		max-width: 234px;
		width: 100%;


	}
}
.button{
	position: absolute;
	right: 22px;
	bottom: 33px;
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	width: 154px;
	height: 32px;
	border: none;
	background-color: colors.$secondary-color;
	color: colors.$main-color;
	cursor: pointer;
	z-index: 2;
	&:hover{
		opacity: .9;
	}
}

.invisible{
	display: none;
}
.congratulate-container{
	height: 100%;  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;	
	padding: 10px 42px;
	h1{
		margin: 0;
		margin-bottom: 9px;
	}
	h2{
		margin: 0;
	}

}


@media (max-width: 691px) {
	.main{
		height: auto;
	}
	.button{
		position: relative;
		right: 0;
		bottom: 0;
		margin: 20px 0 30px;
	}
}

@media (max-width: 390px) {
	.container{
		flex-direction: column;
	}

}